name: rtd
on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
  workflow_dispatch:
jobs:
  docs:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v2
        with:
          ref: dev
      - name: Install package and docs extras
        run: pip install .[docs]
      - name: Set up docs
        run:  source .github/workflows/docs.sh
      - name: Move README.rst and .readthedocs.yaml
        run:  cp ./README.rst docs/README.rst
        run:  cp ./.readthedocs.yaml docs/.readthedocs.yaml
      - name: Upload docs
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: docs/
      - name: Upload source
        uses: actions/upload-artifact@v2
        with:
          name: ufjc
          path: ufjc/
  rtd:
    runs-on: ubuntu-20.04
    needs: docs
    steps:
      - name: Checkout rtd branch
        uses: actions/checkout@v2
        with:
          ref: rtd
      - name: Download docs
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: docs/
      - name: Move README.rst and .readthedocs.yaml
        run: |
          ls docs/
          mv docs/README.rst ./README.rst
          mv docs/.readthedocs.yaml ./.readthedocs.yaml
      - name: Download source
        uses: actions/download-artifact@v2
        with:
          name: ufjc
          path: ufjc/
      - name: Push docs to rtd branch
        run: |
          git config user.name "GitHub Actions"
          git config user.email "<>"
          git add README.rst
          git add docs/
          git add ufjc/
          git commit --allow-empty -m 'update from main branch'
          git push